/www/vendor/
/www/node_modules/
/www/npm-debug.log

# Laravel 4 specific
/www/bootstrap/compiled.php
/www/app/storage/

# Laravel 5 & Lumen specific
/www/public/storage
/www/public/hot
/www/storage/*.key
/www/.env.*.php
/www/.env.php
/www/.env
/www/Homestead.yaml
/www/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
/www/.rocketeer/
