.header.navbar span.work-time {
    float: left;
    padding-top: 25px;
    padding-left: 50px;
}
.header.navbar.navbar-small span.work-time {
    padding-top: 15px;
}

.photo img
{
    border-radius: 50%;
    margin-top: 20px;
}

.pricing-container h2 {
    color: #00acac;
    background: #f0f3f4;
}
