.header.navbar span.work-time {
    float: left;
    padding-top: 25px;
    padding-left: 50px;
}
.header.navbar.navbar-small span.work-time {
    padding-top: 15px;
}

.photo img
{
    border-radius: 50%;
    margin-top: 20px;
}

.pricing-container h2 {
    color: #00acac;
    background: #f0f3f4;
    margin: 4px;
}

.pricing-container h2 i {
    padding: 5px;
}

.float-box-left {
    position:relative;
}

.float-box-left .call-icon {
    position: fixed;
    bottom: 1em;
    left: 1em;
    font-size: 35px;
}

.float-box-right .call-icon {
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 35px;
}
